<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.info.mapper.generate.ProvinceInfoMapper">
  <resultMap id="BaseResultMap" type="com.info.pojo.generate.ProvinceInfo">
    <!--@mbg.generated-->
    <!--@Table db_user.province_info-->
    <id column="province_id" property="provinceId" />
    <result column="province_code" property="provinceCode" />
    <result column="province_name" property="provinceName" />
    <result column="short_name" property="shortName" />
    <result column="lng" property="lng" />
    <result column="lat" property="lat" />
    <result column="sort" property="sort" />
    <result column="gmt_create" property="gmtCreate" />
    <result column="gmt_modified" property="gmtModified" />
    <result column="memo" property="memo" />
    <result column="data_state" property="dataState" />
    <result column="tenant_code" property="tenantCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    province_id, province_code, province_name, short_name, lng, lat, sort, gmt_create, 
    gmt_modified, memo, data_state, tenant_code
  </sql>
  <select id="selectByExample" parameterType="com.info.pojo.generate.ProvinceInfoExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_user.province_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from db_user.province_info
    where province_id = #{provinceId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from db_user.province_info
    where province_id = #{provinceId}
  </delete>
  <delete id="deleteByExample" parameterType="com.info.pojo.generate.ProvinceInfoExample">
    <!--@mbg.generated-->
    delete from db_user.province_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="province_id" keyProperty="provinceId" parameterType="com.info.pojo.generate.ProvinceInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into db_user.province_info (province_code, province_name, short_name, lng, lat, sort, 
      gmt_create, gmt_modified, memo, data_state, tenant_code)
    values (#{provinceCode}, #{provinceName}, #{shortName}, #{lng}, #{lat}, #{sort}, 
      #{gmtCreate}, #{gmtModified}, #{memo}, #{dataState}, #{tenantCode})
  </insert>
  <insert id="insertSelective" keyColumn="province_id" keyProperty="provinceId" parameterType="com.info.pojo.generate.ProvinceInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into db_user.province_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="provinceName != null">
        province_name,
      </if>
      <if test="shortName != null">
        short_name,
      </if>
      <if test="lng != null">
        lng,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="dataState != null">
        data_state,
      </if>
      <if test="tenantCode != null">
        tenant_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="provinceCode != null">
        #{provinceCode},
      </if>
      <if test="provinceName != null">
        #{provinceName},
      </if>
      <if test="shortName != null">
        #{shortName},
      </if>
      <if test="lng != null">
        #{lng},
      </if>
      <if test="lat != null">
        #{lat},
      </if>
      <if test="sort != null">
        #{sort},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate},
      </if>
      <if test="gmtModified != null">
        #{gmtModified},
      </if>
      <if test="memo != null">
        #{memo},
      </if>
      <if test="dataState != null">
        #{dataState},
      </if>
      <if test="tenantCode != null">
        #{tenantCode},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.info.pojo.generate.ProvinceInfoExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from db_user.province_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update db_user.province_info
    <set>
      <if test="record.provinceId != null">
        province_id = #{record.provinceId},
      </if>
      <if test="record.provinceCode != null">
        province_code = #{record.provinceCode},
      </if>
      <if test="record.provinceName != null">
        province_name = #{record.provinceName},
      </if>
      <if test="record.shortName != null">
        short_name = #{record.shortName},
      </if>
      <if test="record.lng != null">
        lng = #{record.lng},
      </if>
      <if test="record.lat != null">
        lat = #{record.lat},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified},
      </if>
      <if test="record.memo != null">
        memo = #{record.memo},
      </if>
      <if test="record.dataState != null">
        data_state = #{record.dataState},
      </if>
      <if test="record.tenantCode != null">
        tenant_code = #{record.tenantCode},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update db_user.province_info
    set province_id = #{record.provinceId},
      province_code = #{record.provinceCode},
      province_name = #{record.provinceName},
      short_name = #{record.shortName},
      lng = #{record.lng},
      lat = #{record.lat},
      sort = #{record.sort},
      gmt_create = #{record.gmtCreate},
      gmt_modified = #{record.gmtModified},
      memo = #{record.memo},
      data_state = #{record.dataState},
      tenant_code = #{record.tenantCode}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.info.pojo.generate.ProvinceInfo">
    <!--@mbg.generated-->
    update db_user.province_info
    <set>
      <if test="provinceCode != null">
        province_code = #{provinceCode},
      </if>
      <if test="provinceName != null">
        province_name = #{provinceName},
      </if>
      <if test="shortName != null">
        short_name = #{shortName},
      </if>
      <if test="lng != null">
        lng = #{lng},
      </if>
      <if test="lat != null">
        lat = #{lat},
      </if>
      <if test="sort != null">
        sort = #{sort},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified},
      </if>
      <if test="memo != null">
        memo = #{memo},
      </if>
      <if test="dataState != null">
        data_state = #{dataState},
      </if>
      <if test="tenantCode != null">
        tenant_code = #{tenantCode},
      </if>
    </set>
    where province_id = #{provinceId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.info.pojo.generate.ProvinceInfo">
    <!--@mbg.generated-->
    update db_user.province_info
    set province_code = #{provinceCode},
      province_name = #{provinceName},
      short_name = #{shortName},
      lng = #{lng},
      lat = #{lat},
      sort = #{sort},
      gmt_create = #{gmtCreate},
      gmt_modified = #{gmtModified},
      memo = #{memo},
      data_state = #{dataState},
      tenant_code = #{tenantCode}
    where province_id = #{provinceId}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update db_user.province_info
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="province_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when province_id = #{item.provinceId} then #{item.provinceCode}
        </foreach>
      </trim>
      <trim prefix="province_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when province_id = #{item.provinceId} then #{item.provinceName}
        </foreach>
      </trim>
      <trim prefix="short_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when province_id = #{item.provinceId} then #{item.shortName}
        </foreach>
      </trim>
      <trim prefix="lng = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when province_id = #{item.provinceId} then #{item.lng}
        </foreach>
      </trim>
      <trim prefix="lat = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when province_id = #{item.provinceId} then #{item.lat}
        </foreach>
      </trim>
      <trim prefix="sort = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when province_id = #{item.provinceId} then #{item.sort}
        </foreach>
      </trim>
      <trim prefix="gmt_create = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when province_id = #{item.provinceId} then #{item.gmtCreate}
        </foreach>
      </trim>
      <trim prefix="gmt_modified = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when province_id = #{item.provinceId} then #{item.gmtModified}
        </foreach>
      </trim>
      <trim prefix="memo = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when province_id = #{item.provinceId} then #{item.memo}
        </foreach>
      </trim>
      <trim prefix="data_state = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when province_id = #{item.provinceId} then #{item.dataState}
        </foreach>
      </trim>
      <trim prefix="tenant_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when province_id = #{item.provinceId} then #{item.tenantCode}
        </foreach>
      </trim>
    </trim>
    where province_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.provinceId}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="province_id" keyProperty="provinceId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into db_user.province_info
    (province_code, province_name, short_name, lng, lat, sort, gmt_create, gmt_modified, 
      memo, data_state, tenant_code)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.provinceCode}, #{item.provinceName}, #{item.shortName}, #{item.lng}, #{item.lat}, 
        #{item.sort}, #{item.gmtCreate}, #{item.gmtModified}, #{item.memo}, #{item.dataState}, 
        #{item.tenantCode})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="province_id" keyProperty="provinceId" parameterType="com.info.pojo.generate.ProvinceInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into db_user.province_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="provinceId != null">
        province_id,
      </if>
      province_code,
      province_name,
      short_name,
      lng,
      lat,
      sort,
      gmt_create,
      gmt_modified,
      memo,
      data_state,
      tenant_code,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="provinceId != null">
        #{provinceId},
      </if>
      #{provinceCode},
      #{provinceName},
      #{shortName},
      #{lng},
      #{lat},
      #{sort},
      #{gmtCreate},
      #{gmtModified},
      #{memo},
      #{dataState},
      #{tenantCode},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="provinceId != null">
        province_id = #{provinceId},
      </if>
      province_code = #{provinceCode},
      province_name = #{provinceName},
      short_name = #{shortName},
      lng = #{lng},
      lat = #{lat},
      sort = #{sort},
      gmt_create = #{gmtCreate},
      gmt_modified = #{gmtModified},
      memo = #{memo},
      data_state = #{dataState},
      tenant_code = #{tenantCode},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="province_id" keyProperty="provinceId" parameterType="com.info.pojo.generate.ProvinceInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into db_user.province_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="provinceName != null">
        province_name,
      </if>
      <if test="shortName != null">
        short_name,
      </if>
      <if test="lng != null">
        lng,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="dataState != null">
        data_state,
      </if>
      <if test="tenantCode != null">
        tenant_code,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="provinceId != null">
        #{provinceId},
      </if>
      <if test="provinceCode != null">
        #{provinceCode},
      </if>
      <if test="provinceName != null">
        #{provinceName},
      </if>
      <if test="shortName != null">
        #{shortName},
      </if>
      <if test="lng != null">
        #{lng},
      </if>
      <if test="lat != null">
        #{lat},
      </if>
      <if test="sort != null">
        #{sort},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate},
      </if>
      <if test="gmtModified != null">
        #{gmtModified},
      </if>
      <if test="memo != null">
        #{memo},
      </if>
      <if test="dataState != null">
        #{dataState},
      </if>
      <if test="tenantCode != null">
        #{tenantCode},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="provinceId != null">
        province_id = #{provinceId},
      </if>
      <if test="provinceCode != null">
        province_code = #{provinceCode},
      </if>
      <if test="provinceName != null">
        province_name = #{provinceName},
      </if>
      <if test="shortName != null">
        short_name = #{shortName},
      </if>
      <if test="lng != null">
        lng = #{lng},
      </if>
      <if test="lat != null">
        lat = #{lat},
      </if>
      <if test="sort != null">
        sort = #{sort},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified},
      </if>
      <if test="memo != null">
        memo = #{memo},
      </if>
      <if test="dataState != null">
        data_state = #{dataState},
      </if>
      <if test="tenantCode != null">
        tenant_code = #{tenantCode},
      </if>
    </trim>
  </insert>
</mapper>