<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.info.mapper.generate.RoleAuthInfoMapper">
  <resultMap id="BaseResultMap" type="com.info.pojo.generate.RoleAuthInfo">
    <!--@mbg.generated-->
    <!--@Table db_user.role_auth_info-->
    <id column="role_id" property="roleId" />
    <id column="auth_id" property="authId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    role_id, auth_id
  </sql>
  <select id="selectByExample" parameterType="com.info.pojo.generate.RoleAuthInfoExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_user.role_auth_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from db_user.role_auth_info
    where role_id = #{roleId}
      and auth_id = #{authId}
  </delete>
  <delete id="deleteByExample" parameterType="com.info.pojo.generate.RoleAuthInfoExample">
    <!--@mbg.generated-->
    delete from db_user.role_auth_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.info.pojo.generate.RoleAuthInfo">
    <!--@mbg.generated-->
    insert into db_user.role_auth_info (role_id, auth_id)
    values (#{roleId}, #{authId})
  </insert>
  <insert id="insertSelective" parameterType="com.info.pojo.generate.RoleAuthInfo">
    <!--@mbg.generated-->
    insert into db_user.role_auth_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="authId != null">
        auth_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId},
      </if>
      <if test="authId != null">
        #{authId},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.info.pojo.generate.RoleAuthInfoExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from db_user.role_auth_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update db_user.role_auth_info
    <set>
      <if test="record.roleId != null">
        role_id = #{record.roleId},
      </if>
      <if test="record.authId != null">
        auth_id = #{record.authId},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update db_user.role_auth_info
    set role_id = #{record.roleId},
      auth_id = #{record.authId}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update db_user.role_auth_info
    <trim prefix="set" suffixOverrides="," />
    where role_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.roleId}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into db_user.role_auth_info
    (role_id, auth_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.roleId}, #{item.authId})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.info.pojo.generate.RoleAuthInfo">
    <!--@mbg.generated-->
    insert into db_user.role_auth_info
    (role_id, auth_id)
    values
    (#{roleId}, #{authId})
    on duplicate key update 
    role_id = #{roleId}, 
    auth_id = #{authId}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.info.pojo.generate.RoleAuthInfo">
    <!--@mbg.generated-->
    insert into db_user.role_auth_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="authId != null">
        auth_id,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId},
      </if>
      <if test="authId != null">
        #{authId},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="roleId != null">
        role_id = #{roleId},
      </if>
      <if test="authId != null">
        auth_id = #{authId},
      </if>
    </trim>
  </insert>
</mapper>