<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.info.mapper.generate.TUserMapper">
  <resultMap id="BaseResultMap" type="com.info.pojo.generate.TUser">
    <!--@mbg.generated-->
    <!--@Table db_user.t_user-->
    <id column="fd_id" property="fdId" />
    <result column="fd_name" property="fdName" />
    <result column="fd_no" property="fdNo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    fd_id, fd_name, fd_no
  </sql>
  <select id="selectByExample" parameterType="com.info.pojo.generate.TUserExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_user.t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from db_user.t_user
    where fd_id = #{fdId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from db_user.t_user
    where fd_id = #{fdId}
  </delete>
  <delete id="deleteByExample" parameterType="com.info.pojo.generate.TUserExample">
    <!--@mbg.generated-->
    delete from db_user.t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.info.pojo.generate.TUser">
    <!--@mbg.generated-->
    insert into db_user.t_user (fd_id, fd_name, fd_no)
    values (#{fdId}, #{fdName}, #{fdNo})
  </insert>
  <insert id="insertSelective" parameterType="com.info.pojo.generate.TUser">
    <!--@mbg.generated-->
    insert into db_user.t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fdId != null">
        fd_id,
      </if>
      <if test="fdName != null">
        fd_name,
      </if>
      <if test="fdNo != null">
        fd_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fdId != null">
        #{fdId},
      </if>
      <if test="fdName != null">
        #{fdName},
      </if>
      <if test="fdNo != null">
        #{fdNo},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.info.pojo.generate.TUserExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from db_user.t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update db_user.t_user
    <set>
      <if test="record.fdId != null">
        fd_id = #{record.fdId},
      </if>
      <if test="record.fdName != null">
        fd_name = #{record.fdName},
      </if>
      <if test="record.fdNo != null">
        fd_no = #{record.fdNo},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update db_user.t_user
    set fd_id = #{record.fdId},
      fd_name = #{record.fdName},
      fd_no = #{record.fdNo}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.info.pojo.generate.TUser">
    <!--@mbg.generated-->
    update db_user.t_user
    <set>
      <if test="fdName != null">
        fd_name = #{fdName},
      </if>
      <if test="fdNo != null">
        fd_no = #{fdNo},
      </if>
    </set>
    where fd_id = #{fdId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.info.pojo.generate.TUser">
    <!--@mbg.generated-->
    update db_user.t_user
    set fd_name = #{fdName},
      fd_no = #{fdNo}
    where fd_id = #{fdId}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update db_user.t_user
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="fd_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId} then #{item.fdName}
        </foreach>
      </trim>
      <trim prefix="fd_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId} then #{item.fdNo}
        </foreach>
      </trim>
    </trim>
    where fd_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.fdId}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into db_user.t_user
    (fd_id, fd_name, fd_no)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.fdId}, #{item.fdName}, #{item.fdNo})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.info.pojo.generate.TUser">
    <!--@mbg.generated-->
    insert into db_user.t_user
    (fd_id, fd_name, fd_no)
    values
    (#{fdId}, #{fdName}, #{fdNo})
    on duplicate key update 
    fd_id = #{fdId}, 
    fd_name = #{fdName}, 
    fd_no = #{fdNo}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.info.pojo.generate.TUser">
    <!--@mbg.generated-->
    insert into db_user.t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fdId != null">
        fd_id,
      </if>
      <if test="fdName != null">
        fd_name,
      </if>
      <if test="fdNo != null">
        fd_no,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fdId != null">
        #{fdId},
      </if>
      <if test="fdName != null">
        #{fdName},
      </if>
      <if test="fdNo != null">
        #{fdNo},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="fdId != null">
        fd_id = #{fdId},
      </if>
      <if test="fdName != null">
        fd_name = #{fdName},
      </if>
      <if test="fdNo != null">
        fd_no = #{fdNo},
      </if>
    </trim>
  </insert>
</mapper>