<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.info.mapper.generate.UserInfosMapper">
  <resultMap id="BaseResultMap" type="com.info.pojo.generate.UserInfos">
    <!--@mbg.generated-->
    <!--@Table db_user.user_infos-->
    <id column="id" property="id" />
    <result column="userName" property="username" />
    <result column="pwd" property="pwd" />
    <result column="state" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, userName, pwd, `state`
  </sql>
  <select id="selectByExample" parameterType="com.info.pojo.generate.UserInfosExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_user.user_infos
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from db_user.user_infos
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from db_user.user_infos
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.info.pojo.generate.UserInfosExample">
    <!--@mbg.generated-->
    delete from db_user.user_infos
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.info.pojo.generate.UserInfos" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into db_user.user_infos (userName, pwd, `state`)
    values (#{username}, #{pwd}, #{state})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.info.pojo.generate.UserInfos" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into db_user.user_infos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        userName,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="state != null">
        `state`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username},
      </if>
      <if test="pwd != null">
        #{pwd},
      </if>
      <if test="state != null">
        #{state},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.info.pojo.generate.UserInfosExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from db_user.user_infos
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update db_user.user_infos
    <set>
      <if test="record.id != null">
        id = #{record.id},
      </if>
      <if test="record.username != null">
        userName = #{record.username},
      </if>
      <if test="record.pwd != null">
        pwd = #{record.pwd},
      </if>
      <if test="record.state != null">
        `state` = #{record.state},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update db_user.user_infos
    set id = #{record.id},
      userName = #{record.username},
      pwd = #{record.pwd},
      `state` = #{record.state}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.info.pojo.generate.UserInfos">
    <!--@mbg.generated-->
    update db_user.user_infos
    <set>
      <if test="username != null">
        userName = #{username},
      </if>
      <if test="pwd != null">
        pwd = #{pwd},
      </if>
      <if test="state != null">
        `state` = #{state},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.info.pojo.generate.UserInfos">
    <!--@mbg.generated-->
    update db_user.user_infos
    set userName = #{username},
      pwd = #{pwd},
      `state` = #{state}
    where id = #{id}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update db_user.user_infos
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="userName = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.username}
        </foreach>
      </trim>
      <trim prefix="pwd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.pwd}
        </foreach>
      </trim>
      <trim prefix="`state` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.state}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into db_user.user_infos
    (userName, pwd, `state`)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.username}, #{item.pwd}, #{item.state})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.info.pojo.generate.UserInfos" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into db_user.user_infos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      userName,
      pwd,
      `state`,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      #{username},
      #{pwd},
      #{state},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      userName = #{username},
      pwd = #{pwd},
      `state` = #{state},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.info.pojo.generate.UserInfos" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into db_user.user_infos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="state != null">
        `state`,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="username != null">
        #{username},
      </if>
      <if test="pwd != null">
        #{pwd},
      </if>
      <if test="state != null">
        #{state},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      <if test="username != null">
        userName = #{username},
      </if>
      <if test="pwd != null">
        pwd = #{pwd},
      </if>
      <if test="state != null">
        `state` = #{state},
      </if>
    </trim>
  </insert>
</mapper>